In [1]:
mark=int(input())

 50

In [2]:
if mark >50:
  print("you are passed")
if mark <50:
  print("you are failed")

In [4]:
mark=int(input())

60

In [4]:
mark=int(input())

In [5]:
mark=int(input())
if mark >50:
  print("you are passed")
if mark <50:
  print("you are failed")

90
you are passed

In [6]:
mark=int(input())
if mark >50:
  print("you are passed")
if mark <50:
  print("you are failed")
if mark==50:
  print("just passed")

25
you are failed

In [ ]:
mark=int(input())
if mark >50:
  print("you are passed")
if mark <50:
  print("you are failed")
if mark==50:
  print("just passed")

25
you are failed

In [7]:
salary=int(input())
if salary >= 250000:
  print("you are taxable")
if salary <250000:
  print("you are not taxable")

251000
you are taxable

In [ ]:
salary=int(input())
if salary >= 250000:
  print("you are taxable")
if salary <250000:
  print("you are not taxable")

251000
you are taxable

In [ ]:
salary=int(input())
if salary >= 250000:
  print("you are taxable")
if salary <250000:
  print("you are not taxable")

251000
you are taxable

In [9]:
salary=int(input())
if salary >= 250000:
  print("you are taxable")
  print(salary*10/100)
if salary <250000:
  print("you are not taxable")

251000
you are taxable
25100.0

In [10]:
salary=int(input())
if salary>=250000:
  print("you are taxable")
  print((salary-250000)*10/100)
if salary <250000:
  print("you are not taxable")

300000
you are taxable
5000.0

In [ ]:
salary=int(input())
if salary <500000:
  print("not taxable")
if 500000<salary <1000000:
  print("tax=",salary*10/100)
if 1000000<salary <2000000:
  print("tax=", salary*20/100)