In [2]:
travel_source= input("enter travel source")
travel_destination=input("enter travel destination")
passenger_number=int(input("enter number of passengers"))
print( "travel source",travel_source)
print("travel destination",travel_destination)
print("number of passengers",passenger_number)

enter travel sourcetrain
enter travel destinationdelhi
enter number of passengers5
travel source train
travel destination delhi
number of passengers 5

In [3]:
tf=int(input("enter total fare of passengers"))
n=int(input("enter number of passengers"))
tfpp= tf/n
print("ticket fare per person=",tfpp)

enter total fare of passengers100
enter number of passengers10
ticket fare per person= 10.0

In [5]:
name=input("enter name of passenger")
tf=int(input("enter total fare"))
print(name,tf)

enter name of passengerkavya
enter total fare1000
kavya 1000

In [6]:
tf=int(input("enter total ticket fare"))
if tf>10000:
  print("eligible for discount")
else:
  print("not applicable")

enter total ticket fare110000
eligible for discount

In [7]:
tf=int(input("entertotal fare"))
if tf>15000:
  print("eligibe for 20% discount")
else:
  print("eligible for 10% discount")

entertotal fare10000
eligible for 10% discount

In [13]:
tf=int(input("enter total fare"))
if tf > 15000:
  print("discounted fare",tf-(tf*20/100) )
if tf>10000 and tf<15000:
  print("discounted fare",tf-(tf*10/100))
if tf<10000:
  print("discounted fare",tf-(tf*5/100))

enter total fare17000
discounted fare 13600.0

In [17]:
n=int(input("enter number"))
if n>1:
  print("positive")
elif n<1:
  print("negative")
else:
  print("0")

enter number5
positive

In [18]:
a=int(input("enter age"))
if a> 18:
  print("adult")
elif a>13and a<19:
  print("teenager")
elif a>6 and a<12:
  print("kid")
elif a>2 and a<5:
  print("toddler")
else:
  print("infant")

enter age18
teenager

In [24]:
i=input("enter initials")
if i in ("a,e,i,o,u"):
   print("its vowel")
else:
  print("not a vowel")

enter initialst
not a vowel

In [26]:
name=input("enter name")
for i in name:
  print(i)

enter namekavya
k
a
v
y
a

In [31]:
for i in range(45,89,2):
  print(i)

45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87

In [33]:
for i in range (1,11):
  print(i,       "     ", i+(i+1))

1       3
2       5
3       7
4       9
5       11
6       13
7       15
8       17
9       19
10       21