In [4]:
name=input("enter you name")
number=int(input("enter your number"))
print(name)
print(number)

enter you namekavya
enter your number1234567890
kavya
1234567890

In [11]:
m1=int(input("enter m1"))
m2=int(input("enter m2"))
m3=int(input("enter m3"))
print("marks=",m1+m2+m3)
print("average=",(m1+m2+m3)/3)

enter m110
enter m20
enter m330
marks= 40
average= 13.333333333333334

In [16]:
m1=int(input("enter m1"))
m2=int(input("enter m2"))
m3=int(input("enter m3"))
if m1>m2 and m1>m3:
  print(m1,"is the greatest")
if m2>m1 and m2>m3:
  print(m2,"is the greatest")
else:
  print(m3,"is the  greatest")

enter m110
enter m213
enter m35
13 is the greatest

In [17]:
num=int(input("enter a number"))
if num%2==0:
  print("even")
else:
  print("odd")

enter a number1
odd

In [18]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [20]:
for i in range(1,11):
  if i%2==0:
    print(i)

2
4
6
8
10

In [21]:
for i in range(1,11):
  print(i*5)

5
10
15
20
25
30
35
40
45
50